html {
    background-image: url(./record.png);
    /* Background-image repeats by defualt but i added background-repeat per assignment instructions*/
    background-repeat: repeat;
}

body {
    margin: 0;
}

.title {
    background-color: slategray;
    color: rgb(252, 249, 237);
    text-align: center;
}

.info {
    background-color: lightgray;
    padding: 1em;
}
